
    <header class="header">
        <nav>
            <ul>
                <li routerLink="/" routerLinkActive="active-link">Home</li>
                <li routerLink="/women" routerLinkActive="active-link">Women</li>
                <li routerLink="/men" routerLinkActive="active-link">Men</li>
                <li class="cart-li">
                    <button class="cart-button" routerLink="/bag" aria-label="View cart">
                        <img src="assets/cart-black.png" class="cart-svg"/>
                        <span class="cart-count">{{cartCount}}</span>
                    </button>
                </li>
            </ul>
        </nav>
    </header>
