<div class="cart-container">
  <div *ngIf="cartItems.length === 0" class="empty-cart">
      <div class="cart-is-empty">Your cart is empty.</div>
      <button class="return-to-shop" routerLink="/">Return to Shop</button>
  </div>

  <div *ngIf="cartItems.length > 0">
      <h2>Your Cart</h2>
      <div class="cart-items">
          <div *ngFor="let item of cartItems" class="cart-item">
              <img [src]="item.imageUrl" class="product-image">
              <div class="product-details">
                  <p>Size: {{ item.selectedSize }}</p>
                  <p>{{ item.price }}₪</p>
              </div>
          </div>
      </div>

            <div class="cart-total">
              <p>Total: {{ total }}₪</p>
              <p *ngIf="freeShipping()" class="freeShipping">משלוח חינם !</p>
            </div>
  </div>
</div>
